---
layout: homepage
description: "Web & Mobile Developer in Toulouse"
---

{% for post in paginator.posts %}
<div class="post-preview">
    {% if post.layout == 'medium' %}

      <a href="{{ post.urlMedium }}">
          <h2 class="post-title">{{ post.title }}</h2>
          {% if post.intro %}
          <h3 class="post-subtitle">
              {{ post.intro }}
          </h3>
          {% endif %}
      </a>
      <p class="post-meta">Posté le {{ post.date | date: "%d/%m/%Y" }}</p>
    {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="post-title">{{ post.title }}</h2>
          {% if post.intro %}
          <h3 class="post-subtitle">
              {{ post.intro }}
          </h3>
          {% endif %}
      </a>
      <p class="post-meta">Posté le {{ post.date | date: "%d/%m/%Y" }}</p>
    {% endif %}
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Articles plus récents</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Articles plus anciens &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
