<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="/assets/images/pic09.jpg" alt="Projets - Une sélection de projets" />
    </span>
    <header class="major">
      <h3><a href="/projects.html" class="link">Projets</a></h3>
      <p>Une sélection de projets</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="/assets/images/pic02.jpg" alt="Blog - Mes articles technique" />
    </span>
    <header class="major">
      <h3><a href="https://medium.com/@rkueny" target="_blank">Blog</a></h3>
      <p>Mes articles technique</p>
    </header>
  </article>

  <!--<article id="clients">
    Carrefour - Tribord - Decathlon - Mazda - Dr Oetker <br />
    Boxers - ACSE - Great & Wonderful - Tutti Pizza <br />
  </article>-->
</section>
